{% extends 'partials/base.html.twig' %}

{% block content %}
    <body class="interface-bar-bottom">

        <header id="interface-header" w3-include-html="{{ url('theme://pagedjs/interface.html') }}"></header>
        <div id="render-book"></div>
    
        <template id="book-content">
            {% for parent_page in pages.children %}

                {# Blueprint chapter #}
                <div class="{{ parent_page.header.body_classes }}">
                    <h1>{{ parent_page.title }}</h1>
                    {{ parent_page.content|raw|markdown }}
                </div>

                {% for child_page in parent_page.children %}
                        
                        {# Blueprint other #}
                        {% if child_page.blueprint.blueprint == "other" %}
                            <div class="{{ child_page.header.body_classes }}">
                                {% if child_page.header.visibletitle %}
                                    <h2>{{ child_page.title }}</h2>
                                {% endif %}
                                {{ child_page.content|raw|markdown }}
                            </div>

                        {# Blueprints text, tables #}
                        {% else %}
                            <h2>{{ child_page.title }}</h2>
                            {% for item in child_page.header.sections %}
                                {% set item_class = child_page.blueprint.blueprint %}
                                <div class="{{item_class}} {{ item.class_name }}">
                                    {{ item.content|raw|markdown }}
                                </div>
                            {% endfor %}
                        {% endif %}

                {% endfor %}

            {% endfor %}
        </template>

    </body>
</html>

{% endblock %}
