{% extends 'partials/base.html.twig' %}

{% block content %}
    <body class="interface-bar-bottom">

        <header id="interface-header" w3-include-html="{{ url('theme://pagedjs/interface.html') }}"></header>
        <div id="render-book"></div>
    
        <template id="book-content">
            {% for parent_page in pages.children %}

                {# Blueprint chapter #}
                <div class="{{ parent_page.header.body_classes }}">
                    <div class="cover">
                        <pre>{{ parent_page.header.tiitle|raw }}</pre>
                        <figure>
                            {% set cover = parent_page.header.cover %}
                            {% set imageKey = (cover|keys)|first %}
                            <img src="user/pages/{{ parent_page.folder() ~ '/' ~ cover[imageKey].path }}">
                        </figure>
                    </div>
                    {{ parent_page.content|raw|markdown }}
                </div>

                {% for child_page in parent_page.children %}
                        
                        {# Blueprint other #}
                        {% if child_page.blueprint.blueprint == "other" %}
                            <div class="{{ child_page.header.body_classes }}">
                                {% if child_page.header.visibletitle %}
                                    <div class="cover">
                                        <h2>{{ child_page.header.tiitle }}</h2>
                                        <figure>
                                            {% set cover = child_page.header.cover %}
                                            {% set imageKey = (cover|keys)|first %}
                                            <img src="user/pages/{{ parent_page.folder() ~ '/' ~ child_page.folder() ~ '/' ~ cover[imageKey].path }}">
                                        </figure>
                                    </div>
                                {% endif %}
                                {{ child_page.content|raw|markdown }}
                            </div>

                        {# Blueprints text, tables #}
                        {% else %}
                            <div class="cover">
                                <h2>{{ child_page.header.tiitle }}</h2>
                                <figure>
                                    {% set cover = child_page.header.cover %}
                                    {% set imageKey = (cover|keys)|first %}
                                    <img src="user/pages/{{ parent_page.folder() ~ '/' ~ child_page.folder() ~ '/' ~ cover[imageKey].path }}">
                                </figure>
                            </div>
                            {% for item in child_page.header.sections %}
                                {% set item_class = child_page.blueprint.blueprint %}
                                <div class="{{item_class}} {{ item.class_name }}">
                                    {{ item.content|raw|markdown }}
                                </div>
                            {% endfor %}
                        {% endif %}

                {% endfor %}

            {% endfor %}
        </template>

    </body>
</html>

{% endblock %}
